.mission{
    display: flex;
}
.focus{
    width: 50%;
}


.img1{
    width: 60%;
    height: auto;
}
.line{
    border-left: 5px solid tomato; 
}
#on{
    font-size: 50px;
    margin-top: 20px;
    padding: 10px;

}
#on-2022{
    font-size: 40px;
    color: rgb(248, 169, 23);
    font-family: 'Abril Fatface', cursive;
    padding: 10px;
   
}
.para1{
    text-align: justify;
    font-size: 15px;
}
.anchor{
    background-color: rgb(236, 82, 11);
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 5px;
}
.heading{
    text-align: center;
    font-size: 40px;

}
.span1{
    color: rgb(241, 170, 36);
}
.img2{
    width: 50%;
    height: auto;
}

    
   

#bold{
    font-size: 30px;
}
.box1{
    background-color: rgb(240, 235, 240);
    padding: 20px ;
    width: 350px ;
    border-radius: 20px ;   
    
    
}
.box2{
    background-color: rgb(231, 210, 231);
    padding: 20px  ;
    width: 350px ;
    border-radius: 20px ;
    margin-left: 20px;
    
    
    
}
.box3{
    background-color: rgb(223, 231, 191);
    padding: 20px  ;
    width: 350px ;
    border-radius: 20px ;
   margin-left: 20px;
    
}

.parent{
    display: flex;
    width: 100%;
    
    margin: 30px;
    
    
}
.design{
    margin: 10px;
    

}
.developer{
    
    display: flex;
}
.limit{
    width: 50%;
    background-image: url(image/shape3-.png);
    background-repeat: no-repeat;
}
.limit2{
    padding-top: 100px;
    padding-right: 50px;
}
.without{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}
.global{
    display: flex;
}
.community{
    width: 50%;
}
.img3{
    height: auto;
    width: 55%;
}
#corona{
    color: rgb(236, 5, 75);
    text-shadow:2px 2px rgb(166, 182, 197);

}
.vaccine{
    text-align: center;
    font-size: 30px;
    width: 80%;
    height: auto;
    background-image: linear-gradient(rgb(224, 166, 166) , rgb(172, 203, 238));
    padding-left: 50px;
}
.information{
    width: 50%;
}
.parent2{
    display: flex;
}
#info{
    color: rgba(5, 1, 44, 0.589);
    position: center;
    font: 20px;
}
.img4{
    height: 80%;
    width: auto;
}
.form{
    background-image: linear-gradient(rgb(79, 197, 218),gray);
     width: 50%;
    height: auto;
    display: center;
    padding-left: 200px;
    border-radius: 10px;
    box-shadow: 10px 10px rgb(206, 173, 196);
    border-left: 4px solid rgb(17, 67, 143);
}





.footer{
    
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(12, 11, 11);
  
  text-align: center;
  
  
}
.foot{
    font-family: 'Satisfy', cursive;
    color: white;
    font-size: 30px;
}
#end{
    color: rgb(207, 40, 10);
}
small{
    color: rgb(131, 131, 131);
}